<%- include('../partials/header') %>
<br><br>
<div class="ui cards">
    <% teams.forEach(team => { %>
    <div class="card">
        <div class="content">
            <div class="header"><%= team.name %></div>
            <div class="description">
                <p>Location: <%= team.location %></p>

            </div>
            </div>
    </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>