<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/404.css">
    <title>Error</title>
</head>
<body>
    

<h1>4</h1>
<h1>0</h1>
<h1>4</h1>

<img src="../images/racecar.png">

<h3><%= message %></h2>
<h3><%= error.status %></h3>
<pre><%= error.stack %></pre>
</body>
</html>