<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Fans Unite</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');
        body, html {
          background-color: black;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
          font-family: 'Audiowide', cursive;
          font-family: 'Montserrat', sans-serif;
          color: grey;
        }
        h1 {
            font-family: 'Audiowide', cursive;
            font-size: 60px;
        }
        img {
          width: 50%;
          height: auto;
        }
        #lights{
          display: none;
        }       

      </style>
</head>
<body>
  <br><br><br>
    <h1>F1 FAN PAGE</h1>
    <button class="ui green button" id="startBtn">Enter Page</button>
    <div id="lights">
      <img src="/images/LightsOut.gif"/>
    </div>
    <script src="/javascripts/landingpage.js"></script>
</body>
</html>
