<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Fans Unite</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <style>
        body, html {
          background-color: black;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
        }
      </style>
</head>
<body>
    <img src="/images/LightsOut.gif">
</body>
</html>
