#cards {
  justify-content: center;
  text-align: center; 
}
#cards1 {
  padding-top: 100px;
  justify-content: center;
  text-align: center; 
}
.chatroom{
  padding-left: 50px;
  padding-top: 50px;
}
#chats{
  font-size: 16px;
}
#cards2{
  padding-top: 100px;
  justify-content: center;
  text-align: center; 
}
#cards3{
  justify-content: center;
  text-align: center; 
}
#avatarPhoto{
  padding-right: 5px;
}

#postbutton{
  position: relative;
  left: 10%;
}

#userstitle{
  text-align: center;
}
