#cards {
  justify-content: center;
  text-align: center; 
}
#cards1 {
  padding-top: 100px;
  justify-content: center;
  text-align: center; 
}
.chatroom{
  padding-left: 50px;
  padding-top: 50px;
}
#chats{
  font-size: 16px;
}

